
    
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container hidden-xs">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Carousel/ShoppingEdited.jpg" alt="...">
                    <div class="carousel-caption">
                        <h3>Caption Text</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Carousel/surfing-on-internet_1024x768_57052.jpg" alt="...">
                    <div class="carousel-caption">
                        <h3>Caption Text</h3>
                    </div>
                </div>
                <!--<div class="item">
                    <img src="http://placehold.it/1200x315" alt="...">
                    <div class="carousel-caption">
                        <h3>Caption Text</h3>
                    </div>
                </div>-->
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div> <!-- Carousel -->
    </div>


    <br />
    <div class="container ">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default center-block">
                    <div class="panel-heading">
                        Featured Items
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            @{
                                var p = ViewBag.prod;
                            }
                            @foreach (var x in p) { 
                            <div class="col-md-4">
                                <img src=@x.image alt="192 x 55" width="192" height="55" />
                            <br/>
                            @*@Html.ActionLink()*@
                                <a href="/productDescription/productDescription/@x.Id" style="padding-left:40px">@x.name</a></div>}
                            
                        </div>

                        @*<div class="row">
                            <div class="col-md-4">
                                <img src="~/rsz_logo.png" alt="192 x 55" />
                            </div>
                            <div class="col-md-4">
                                <img src="~/rsz_logo.png" alt="192 x 55" />
                            </div>
                            <div class="col-md-4">
                                <img src="~/rsz_logo.png" alt="192 x 55" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="~/rsz_logo.png" alt="192 x 55" />
                            </div>
                            <div class="col-md-4">
                                <img src="~/rsz_logo.png" alt="192 x 55" />
                            </div>
                            <div class="col-md-4">
                                <img src="~/rsz_logo.png" alt="192 x 55" />
                            </div>
                        </div>*@
                    </div>
                </div>

            </div>

        </div>
    </div>



